<html>
    <head></head>

    <body>
        <pre>
        /
        /estilo1
        /archivo/
        /archivo/nuevo
        /archivo/crear
        /archivo/lista
        etc
        </pre>


    </body>
    
</html>    